src/index.pug
doctype html
html(lang="en")
  head
    include includes/meta.pug
    link(rel="stylesheet", href="css/common.css")
    link(rel="stylesheet", href="css/index.css")
    link(href="static/favicon.png" rel="icon" type="image/png")
    title Sunflower Affinity Group
    body
      main
        article
          section#lead
            h1#lead-title Sunflower
            p#caption Think in solidarity; our horizontal affinity group creates
              |  standards for <em>anyone</em> to create an app to do just that.
            a.link-button(href="pages/about.pug") Learn more
          

index.html
<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8"><meta http-equiv="X-UA-Compatible" content="IE=edge"><meta name="viewport" content="width=device-width, initial-scale=1.0"><link rel="stylesheet" href="/index.5174dfeb.css"><link rel="stylesheet" href="/index.4c38c47c.css"><link href="/favicon.c77d9a46.png" rel="icon" type="image/png"><title>Sunflower Affinity Group</title></head><body><main><article><section id="lead"><h1 id="lead-title">Sunflower</h1><p id="caption">Think in solidarity; our horizontal affinity group creates standards for <em>anyone</em> to create an app to do just that.</p><a class="link-button" href="/pages/about.html">Learn more</a></section></article></main></body></html>
